src/main/mule/flight-crud-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
	<flow name="flight-get-implFlow" doc:id="21be7e76-2e5a-4c10-a64e-fbfce2ada7be" >
		<choice doc:name="Choice" doc:id="b5a6b368-223a-4513-83cd-c45620a411a1" >
			<when expression="#[attributes.queryParams.source != null and attributes.queryParams.destination !=null]">
				<salesforce:query doc:name="Query" doc:id="d6a22046-d194-47ab-9313-f279e4a2f571" config-ref="Salesforce_Config">
					<salesforce:salesforce-query><![CDATA[select Name,airline__c,source__c,destination__c,departureDate__c,totalSeats__c,price__c from FLIGHT_INFO__c where source__c= ':source' and destination__c= ':destination']]></salesforce:salesforce-query>
					<salesforce:parameters><![CDATA[#[{
	"source":attributes.queryParams.source,
	"destination":attributes.queryParams.destination
}]]]></salesforce:parameters>
				</salesforce:query>
				<ee:transform doc:name="Transform Message" doc:id="086969b6-9b02-4cf0-b040-09736200532f" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map((pay,index)->{
	destination: pay.destination__c,
	price:pay.price__c,
	flightNumber: pay.Name,
	departureDate: pay.departureDate__c as String,
	source: pay.source__c,
	airline: pay.airline__c,
	totalSeats: pay.totalSeats__c,
})]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="ec77da72-cd1c-4f82-a669-18b60f5fc8aa" message='"fetching filtered records"'/>
			</when>
			<otherwise >
				<salesforce:query doc:name="Query" doc:id="a0caad92-1033-4698-a02f-6e910f5f51f8" config-ref="Salesforce_Config" >
					<salesforce:salesforce-query ><![CDATA[select Name,airline__c,source__c,destination__c,departureDate__c,totalSeats__c,price__c from FLIGHT_INFO__c ]]></salesforce:salesforce-query>
				</salesforce:query>
				<ee:transform doc:name="Transform Message" doc:id="de94fbf9-2120-4b85-b3b2-dc40b938e9f9">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map((pay,index)->{
	destination: pay.destination__c,
	price:pay.price__c,
	flightNumber: pay.Name,
	departureDate: pay.departureDate__c as String,
	source: pay.source__c,
	airline: pay.airline__c,
	totalSeats: pay.totalSeats__c,
})]]></ee:set-payload>
			</ee:message>
		</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="07e98e13-63f5-4ba1-b2a0-06743758faa4" message='"default logger"'/>
			</otherwise>
		</choice>
		<error-handler ref="global-exception-handlerError_Handler" />
	</flow>
	<flow name="flight-post-implFlow" doc:id="0bf4ee54-6dce-4f0b-8de0-77ec12ef183f" >
		<ee:transform doc:name="Transform Message" doc:id="467fd349-b5b4-4e4a-8467-27021f437532" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
[{
	Name: payload.flightNumber,
	airline__c: payload.airline,
	source__c: payload.source,
	destination__c: payload.destination,
	departureDate__c: payload.departureDate as DateTime,
	price__c: payload.price,
	totalSeats__c: payload.totalSeats,
	created_date__c: now(),
	updated_date__c: now()
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:create type="FLIGHT_INFO__c" doc:name="Create" doc:id="e3db989f-034c-4990-863a-78ec47fb6275" config-ref="Salesforce_Config" />
		<ee:transform doc:name="Transform Message" doc:id="d0c2683e-2008-4360-9fd7-db7bbb84d6de" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"Flight added successfully"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler ref="global-exception-handlerError_Handler" />
	</flow>
	<flow name="flight-delete-implFlow" doc:id="19abe162-e5db-49af-aff2-a6939a5443b5" >
		<salesforce:query doc:name="Query" doc:id="c703a0a0-ef2e-45d1-9afe-26c5fc7db56b" config-ref="Salesforce_Config" >
			<salesforce:salesforce-query ><![CDATA[select Id,Name from FLIGHT_INFO__c where Name=':flightNumber']]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[{
	"flightNumber":attributes.uriParams.flightNumber
}]]]></salesforce:parameters>
		</salesforce:query>
		<ee:transform doc:name="Transform Message" doc:id="a9a1cbf2-89a2-4cf6-9e4c-2e35f05213fd" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload map {
	id:$.Id
}
 ]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:delete doc:name="Delete" doc:id="d84daf21-f162-4cb3-bb7c-fa35bbf2990a" config-ref="Salesforce_Config" >
			<salesforce:ids ><![CDATA[#[payload.id]]]></salesforce:ids>
		</salesforce:delete>
		<logger level="INFO" doc:name="Logger" doc:id="1b573d7e-a643-43c0-84d3-a3b27a296dce" message="deleted record" />
		<ee:transform doc:name="Transform Message" doc:id="fb7fca33-bc61-4eb4-b8d6-6e019d5766fb" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  message: "Flight deleted successfully"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler ref="global-exception-handlerError_Handler" />
	</flow>
	<flow name="flight-getByFlightNumber-implFlow" doc:id="ec4a4419-51e4-435c-8be4-04a1f7356ff8" >
		<salesforce:query doc:name="Query" doc:id="2b46c56a-59e5-495f-a591-e2343a75c339" config-ref="Salesforce_Config">
			<salesforce:salesforce-query><![CDATA[select Name,airline__c,source__c,destination__c,departureDate__c,totalSeats__c,price__c from FLIGHT_INFO__c where Name=':flightNumber']]></salesforce:salesforce-query>
			<salesforce:parameters><![CDATA[#[{
	"flightNumber":attributes.uriParams.flightNumber
}]]]></salesforce:parameters>
		</salesforce:query>
		<ee:transform doc:name="Transform Message" doc:id="8e49c232-a54e-40b6-9f3c-c466dca9912a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map((pay,index)->{
	destination: pay.destination__c,
	price:pay.price__c,
	flightNumber: pay.Name,
	departureDate: pay.departureDate__c as DateTime default '',
	source: pay.source__c,
	airline: pay.airline__c,
	totalSeats: pay.totalSeats__c,
})]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="ea269308-35e8-4ed9-99fa-07f2bf40e640" message='"fetching filtered records"' />
		<error-handler ref="global-exception-handlerError_Handler" />
	</flow>
	<flow name="flight-upsert-implFlow" doc:id="6b038f68-1638-4d11-b429-74aea45a5e6f" >
		<ee:transform doc:name="Transform Message" doc:id="aa8df5c8-714e-4f95-b229-824ea60c3cd4" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
[{
	Name: attributes.uriParams.flightNumber,
	departureDate__c: payload.departureDate as DateTime,
	price__c: payload.price,
	updated_date__c:now()
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:upsert objectType="FLIGHT_INFO__c" doc:name="Upsert" doc:id="f53aaec1-e9d8-4186-814a-4cc3ddf7f3af" config-ref="Salesforce_Config" externalIdFieldName="Name"/>
		<ee:transform doc:name="Transform Message" doc:id="b16b13f7-e6ea-46e3-a79f-7f24380223ef" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  message: "Flight updated successfully"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="flight-update-implFlow" doc:id="e7784445-95f6-403d-941d-ca3ed7ee2fc5" >
		<ee:transform doc:name="Transform Message" doc:id="12818e79-31ee-47ed-aa87-7e7495381266" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="dateVar" ><![CDATA[%dw 2.0
output application/java
---
payload.departureDate]]></ee:set-variable>
				<ee:set-variable variableName="priceVar" ><![CDATA[%dw 2.0
output application/json
---
payload.price]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<salesforce:query doc:name="Query" doc:id="4b601f5a-5368-44d9-b966-ac63e9b08090" config-ref="Salesforce_Config" >
			<salesforce:salesforce-query ><![CDATA[select Id,Name,price__c,departureDate__c from FLIGHT_INFO__c where Name=':flightNumber']]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[{
	flightNumber:attributes.uriParams.flightNumber
}]]]></salesforce:parameters>
		</salesforce:query>
		<ee:transform doc:name="Transform Message" doc:id="bb9fea62-9876-4bc7-974b-2e815d0db791" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
[{
	
	Id:payload[0].Id,
	Name:payload.Name,
	price__c:vars.priceVar,
	departureDate__c:vars.dateVar as DateTime,
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="1e79b4a4-ec99-4633-9a2c-c3f1df9da39a" message="#[payload]" />
		<salesforce:update type="FLIGHT_INFO__c" doc:name="Update" doc:id="fb220615-5d82-4156-8c8d-e8ed7bfd569c" config-ref="Salesforce_Config" />
		<error-handler ref="global-exception-handlerError_Handler" />
	</flow>
	<flow name="flight-getByPartner-implFlow" doc:id="2ab25f40-7476-443d-855f-e6987538cb9c" >
		<salesforce:query doc:name="Query" doc:id="b4b6d05e-f18e-4661-b7d1-2d55b2844197" config-ref="Salesforce_Config" >
			<salesforce:salesforce-query ><![CDATA[select Name,airline__c,source__c,destination__c,departureDate__c,totalSeats__c,price__c from FLIGHT_INFO__c where airline__c=':airline']]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[{
	"airline":attributes.uriParams.airline
}]]]></salesforce:parameters>
		</salesforce:query>
		<ee:transform doc:name="Transform Message" doc:id="891c5fda-c00b-4636-844e-98bd984eb193" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map((pay,index)->{
	destination: pay.destination__c,
	price:pay.price__c,
	flightNumber: pay.Name,
	departureDate: pay.departureDate__c as DateTime,
	source: pay.source__c,
	airline: pay.airline__c,
	totalSeats: pay.totalSeats__c,
})]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="d4684a72-0892-414a-a424-0ee815d09c85" message='"fetching filtered records"' />
		<error-handler ref="global-exception-handlerError_Handler" />
	</flow>
	<flow name="flight-getByPartner" doc:id="ba0a510e-1b64-4219-8cc7-9c5e34cc69a3" >
		<choice doc:name="Choice" doc:id="9e74d5b0-5b75-4e22-8485-d4fd8210fec8" >
			<when expression="#[attributes.queryParams.source != null and attributes.queryParams.destination !=null]" >
				<salesforce:query doc:name="Query" doc:id="cead2e9a-ce24-4c79-a1a5-c7183c7d428c" config-ref="Salesforce_Config" >
					<salesforce:salesforce-query ><![CDATA[select Name,airline__c,source__c,destination__c,departureDate__c,totalSeats__c,price__c from FLIGHT_INFO__c where airline__c=':airline' and source__c= ':source' and destination__c= ':destination']]></salesforce:salesforce-query>
					<salesforce:parameters ><![CDATA[#[{
	"source":attributes.queryParams.source,
	"destination":attributes.queryParams.destination,
	"airline":attributes.uriParams.airline
}]]]></salesforce:parameters>
				</salesforce:query>
				<ee:transform doc:name="Transform Message" doc:id="f93a6214-e46c-4818-baaf-af569e833d6d" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map((pay,index)->{
	destination: pay.destination__c,
	price:pay.price__c,
	flightNumber: pay.Name,
	departureDate: pay.departureDate__c as String,
	source: pay.source__c,
	airline: pay.airline__c,
	totalSeats: pay.totalSeats__c,
})]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="ebbee1e9-04dc-438a-8608-9b9fab74a3ac" message='"airline partner : #[attributes.uriParams.airline]  from Source:  #[attributes.queryParams.source]  to destination :  #[attributes.queryParams.destination]' />
			</when>
			<otherwise >
				<salesforce:query doc:name="Query" doc:id="73d12d31-9685-4d57-a263-c84bdee96fe4" config-ref="Salesforce_Config" >
					<salesforce:salesforce-query ><![CDATA[select Name,airline__c,source__c,destination__c,departureDate__c,totalSeats__c,price__c from FLIGHT_INFO__c where airline__c=':airline']]></salesforce:salesforce-query>
					<salesforce:parameters ><![CDATA[#[{
	"airline":attributes.uriParams.airline
}]]]></salesforce:parameters>
				</salesforce:query>
				<ee:transform doc:name="Transform Message" doc:id="9bb06d5c-f3b3-4e4f-a092-3829f9bcb3df" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map((pay,index)->{
	destination: pay.destination__c,
	price:pay.price__c,
	flightNumber: pay.Name,
	departureDate: pay.departureDate__c as String,
	source: pay.source__c,
	airline: pay.airline__c,
	totalSeats: pay.totalSeats__c,
})]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="987affb6-5f8f-4cc1-b3f9-e2e9c2cf4615" message='airline partner :  #[attributes.uriParams.airline]' />
			</otherwise>
		</choice>
		<error-handler ref="global-exception-handlerError_Handler" />
	</flow>
</mule>
